Repository belitradas/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

test-prow-config:
  decorate: true
  spec:
    containers:
    - name: test-config
      command:
      - checkconfig
      args:
      - --plugin-config=/home/prow/go/src/github.com/belitradas/test-infra/prow/config.yaml
      - --config-path=/home/prow/go/src/github.com/belitradas/test-infra/prow/plugins.yaml
  ...

test-prow-manifests:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      command:
      - make
      args:
      - deploy-prow-dry-run
      image: belitre/kubectl:1.14.2
      imagePullPolicy: Always

test-config-postsubmit:
  decorate: true
  spec:
    containers:
    - name: test-config
      command:
      - checkconfig
      args:
      - --plugin-config=/home/prow/go/src/github.com/belitradas/test-infra/prow/config.yaml
      - --config-path=/home/prow/go/src/github.com/belitradas/test-infra/prow/plugins.yaml
  ...

test-prow-manifests-postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      command:
      - make
      args:
      - deploy-prow
      image: belitre/kubectl:1.14.2
      imagePullPolicy: Always

trigger job
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

back to the old job
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

gzip enabled for jobs
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

gzip enabled for jobs (#45)
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

moved presubmits to config for now to make it easier to change them while testing stuff
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  dockerfiles/checkconfig/dockerfile
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

moved presubmits to config for now to make it easier to change them while testing stuff (#46)
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  dockerfiles/checkconfig/dockerfile
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

back to its own file
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

tidy up
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
Due: test-prow-config, test-config-postsubmit

back to its own file (#47)
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

removed comments
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

do not skip report!
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

removed comments (#48)
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

commit to test presubmit job
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

commit to test presubmit job (#49)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

spyglass settings
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

spyglass settings (#50)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

Reduced size of pvc for ghproxy
  prow/manifests/init/00-config.yaml
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Reduced size of pvc for ghproxy (#51)
  prow/manifests/init/00-config.yaml
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

bleh
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

Moved dockerfiles to different repo
  Makefile
  dockerfiles/checkconfig/dockerfile
  dockerfiles/gobuilder/dockerfile
  dockerfiles/kubectl/dockerfile
  prow/manifests/init/01-network-policy.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Moved dockerfiles to different repo (#53)
  Makefile
  dockerfiles/checkconfig/dockerfile
  dockerfiles/gobuilder/dockerfile
  dockerfiles/kubectl/dockerfile
  prow/manifests/init/01-network-policy.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

First job for dockerfiles
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
Due: test-prow-config, test-config-postsubmit

added how to generate prowjob to readme
  README.md
Due: none

Feature/first dockerfiles job (#54)
  README.md
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
Due: test-prow-config, test-config-postsubmit

added jobs for dockerfiles repos
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
Due: test-prow-config, test-config-postsubmit

added jobs for dockerfiles repos (#55)
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix env vars for postsubmits
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix env vars for postsubmits (#56)
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
Due: test-prow-config, test-config-postsubmit

use images created with prow in dockerfiles repo
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
Due: test-prow-config, test-config-postsubmit

use images created with prow in dockerfiles repo (#57)
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
Due: test-prow-config, test-config-postsubmit

added labels and fixed postsubmits for dockerfiles
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
  prow/labels.yaml
  prow/manifests/init/00-config.yaml
  prow/plugins.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Added automatic release to kctx-manager and updated all jobs to download the image always since I'm using latest tag
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Added automatic release to kctx-manager and updated all jobs to download the image always since I'm using latest tag (#59)
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
Due: test-prow-config, test-config-postsubmit

apply labels to repos
  prow/labels.yaml
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

apply labels to repos (#60)
  prow/labels.yaml
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

update prow and added metrics and ingress
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

don't pull images all the time
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

update prow and added metrics and ingress (#61)
  config/jobs/belitradas/dockerfiles/belitradas-dockerfiles-jobs.yaml
  config/jobs/belitradas/test-infra/belitradas-test-infra-jobs.yaml
  config/jobs/belitre/kctx-manager/belitre-kctx-manager-jobs.yaml
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Fix ghproxy docker image
  prow/manifests/resources/00-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

renamed ports and playing with metrics
  prow/config.yaml
  prow/manifests/resources/00-starter.yaml
  prow/manifests/resources/02-metrics.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests-postsubmit: any of: prow/manifests/
